<header>
  <nav class="main-color">
    <div class="logo" tabindex="0">
      <div class="logo-pic">
        <img routerLink="home" src="assets/image/winnie.png" alt="首頁商標" />
      </div>
    </div>
    <!-- 控制手機板選單 -->
    <div
      class="control"
      (click)="openSiderBar = true"
      tabindex="0"
      (keydown)="handleKeydown($event)"
      aria-label="選單呼叫"
    >
      <div class="control-line"></div>
      <div class="control-line"></div>
      <div class="control-line"></div>
    </div>

    <!-- 選單內容(電腦版) -->
    <ul class="lg">
      <li>
        <a routerLink="about">{{ "header.about" | translate }}</a>
      </li>
      <li>
        <a routerLink="work">{{ "header.portfolio" | translate }}</a>
      </li>
      <li>
        <a routerLink="course">{{ "header.course" | translate }}</a>
      </li>
      <!-- <li>
        <a routerLink="map">網站地圖</a>
      </li> -->
      <li>
        <a routerLink="concat">{{ "header.contact" | translate }}</a>
      </li>
      <li>
        <div class="select-box" #select>
          <div class="" (click)="handleSelect('computer')">
            <input
              type="text"
              [(ngModel)]="optionValue"
              readonly
              aria-label="語系選擇"
            />
          </div>
          <!-- 語系下拉選單 -->
          <ul [style.display]="showSelect" class="language-list">
            <li
              *ngFor="let item of languageList"
              (click)="changeLanguage(item.name)"
            >
              <div class="pic">
                <img src="{{ item.pic }}" alt="語系圖片" />
              </div>
              <p>
                {{ item.name }}
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <!-- 選單內容(手機版) -->
    <ul
      class="md"
      [style.width]="openSiderBar ? 200 + 'px' : 0 + 'px'"
      id="mainmenu"
    >
      <li></li>
      <li>
        <div class="logo">
          <div class="logo-pic">
            <img routerLink="home" src="assets/image/winnie.png" alt="商標" />
          </div>
        </div>
      </li>
      <li *ngIf="openSiderBar">
        <div class="select-box" #mobileSelect>
          <div class="" (click)="handleSelect('mobile')">
            <input
              type="text"
              [(ngModel)]="optionValue"
              readonly
              aria-label="語系選擇"
            />
          </div>
          <!-- 語系下拉選單 -->
          <ul [style.display]="showSelect" class="language-list">
            <li
              *ngFor="let item of languageList"
              (click)="changeLanguage(item.name)"
            >
              <div class="pic">
                <img src="{{ item.pic }}" alt="語系圖片" />
              </div>
              <p>
                {{ item.name }}
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li *ngIf="openSiderBar">
        <a routerLink="about">{{ "header.about" | translate }}</a>
      </li>
      <li *ngIf="openSiderBar">
        <a href="">{{ "header.portfolio" | translate }}</a>
      </li>
      <li *ngIf="openSiderBar">
        <a href="">{{ "header.course" | translate }}</a>
      </li>
      <li *ngIf="openSiderBar">
        <a routerLink="concat">{{ "header.contact" | translate }}</a>
      </li>

      <div
        class="close"
        (click)="openSiderBar = false"
        *ngIf="openSiderBar"
        tabindex="0"
        (keydown)="handleKeydown($event)"
        aria-label="關閉選單"
      >
        <div class="close-line"></div>
        <div class="close-line"></div>
      </div>
    </ul>
  </nav>
</header>
<!-- 背景陰影 -->
<div
  class="shadow"
  [hidden]="!openSiderBar"
  (click)="openSiderBar = false"
></div>
