@import "../../../assets/scss/common.scss";

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color1;

  &>.logo {


    &>.logo-pic {
      width: 200px;
      padding: 5px;
      @extend %flex;
     
      img {
        width: 80%;
        height: 80%;
        object-fit: cover;
      }
    }
  }

  &>ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      padding: 15px;

      &>a {
        font-size: 16px;
        color: $color3;
      }

      &>select {
        width: 150px;
        text-align: center;
        padding: 10px;
        // border-radius: 100px;
        border: none;
        font-size: 16px;

        & > select option {
          display: block;
          padding: 5px 0;
          text-align: center;
          font-size: 24px;
        }
      }
    }
  }
}