<header>
  <nav class="main-color">
    <div class="logo">
      <div class="logo-pic">
        <img
          routerLink="home"
          src="assets/image/winnie.png"
          alt="商標"
        />
      </div>
    </div>
    <ul>
      <li>
        <a routerLink="about">{{ "header.about" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "header.portfolio" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "header.course" | translate }}</a>
      </li>
      <li>
        <a routerLink="concat">{{ "header.contact" | translate }}</a>
      </li>
      <li>
        <!-- <label for="language" class="language-label">語系:</label>
        <select name="language" id="language" >
          <option value="zh-TW">中文</option>
          <option value="en-US">English</option>
        </select> -->
        <div class="select-box" #select>
          <div class=""  (click)="handleSelect()">
            <input type="text"  [(ngModel)]="optionValue" readonly aria-label="語系選擇"/>
          </div>
          
          <ul [style.display]="showSelect">
            <li *ngFor="let item of languageList" (click)="changeLanguage(item.name)">
              <div class="pic">
                <img src="{{item.pic}}" alt="語系圖片">
              </div>
              <p>
                {{item.name}}
              </p>
        
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
