<header>
  <nav class="main-color">
    <div class="logo">
      <div class="logo-pic">
        <h1>
          <span style="width: 0px;display: block;overflow: hidden;">Winnie</span>
          <img routerLink='home' src="../../../assets/image/winnie.png" alt="商標" />
        </h1>

      </div>
    </div>
    <ul>
      <li>

        <a routerLink='about'>{{ "header.about" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "header.portfolio" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "header.course" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "header.contact" | translate }}</a>
      </li>
      <li>
        <select name="" id="" (change)="changeLanguage()" [(ngModel)]="language">
          <option value="zh-TW">中文</option>
          <option value="en-US">英文</option>
        </select>
      </li>
    </ul>
  </nav>
</header>