@import "../../../assets/scss/common.scss";

$baseFontSize: 16px;

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color1;

  .language-label {
    width: 0em;
    height: 0em;
    overflow: hidden;
    display: block;
  }

  & > .logo {
    & > .logo-pic {
      width: 12.5em; // 200px / 16px = 12.5em
      padding: 0.3125em; // 5px / 16px = 0.3125em
      @extend %flex;

      img {
        width: 80%; // 80% remains unchanged
        height: 80%; // 80% remains unchanged
        object-fit: cover;
      }
    }
  }

  & > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      padding: 0.9375em; // 15px / 16px = 0.9375em

      & > a {
        font-size: 1em; // 16px / 16px = 1em
        color: $color3;
      }

      & > .select-box {
        width: 180px;
        position: relative;
        font-size: 14px;
        div{
          cursor: pointer;
        }
        input {
          width: 100%;
          border: none;
          padding: 10px 0;
          cursor: pointer;
          text-align: center;
          outline: none; 
          user-select: none;
          pointer-events: none;
        }

        ul {
          width: 170px;
          background-color: #fff;
          padding: 0 5px;
          position: absolute;
          top: 35px;

          li {
            // border-bottom: 1px solid black;
            padding: 10px 0;
            padding-left: 40px;
            cursor: pointer;
            text-align: center;
            // @extend %flex;
            display: flex;
            align-items: center;
            gap: 5px;
            .pic{
              width: 30px;
              height: 30px;
            }

            &:hover{
              color: $color3;
              // border-bottom: 1px solid $color3;
            }
            &:last-child{
              border: none;
            }
          }
        }
      }
    }
  }
}
