<div id="about">
  <section class="introduce">
    <div class="pic">
      <img src="assets/image/post.jpg" alt="作者照片" />
    </div>
    <div class="text">
      <div class="main-title">
        <h1>About/個人簡介</h1>
      </div>
      <article class="content">
        <ul>
          <li>
            <p>
              大家好，我是潔娜Jayna<br />
              『我喜歡把事情盡我所能地做到最好，不只要高效率細節也要都顧及好。』
            </p>
          </li>
          <li>
            <p>
              你可以稱我為<strong class="point"
                >設計師、插畫家、或是網路創業者</strong
              >都可以，很高興認識你。
            </p>
          </li>
          <li>
            <p>
              我也有在接<strong class="point">商業設計案件</strong
              >，這一頁比較像我的設計之路和作品集呈現
            </p>
          </li>
          <li>
            <p>
              平面設計 / LOGO設計 / 插圖繪製 / 行銷企劃 / 活動企劃 / 規劃整合
            </p>
          </li>
        </ul>
      </article>
    </div>
  </section>

  <section class="experience">
    <div class="main-title">
      <h2>想和你分享我的經歷</h2>
    </div>
    <article class="content">
      <div class="item job">
        <h3>工作經驗</h3>
        <ul>
          <li>畢業於南台科技大學 視覺傳達設計系 _ 創意生活設計組</li>
          <li>卉紘公關行銷股份有限公司 _設計暑期實習 (2018/7月-9月)</li>
          <li>捌程室內設計有限公司 _ 平面設計美編 (2020/7月-10月)</li>
          <li>捌程小8親子園區 _ 主視覺設計師(2020/10月-2021/4月)</li>
          <li>捌程悠旅股份有限公司 _ 總經理特助(2021/4月-2022/6月)</li>
        </ul>
      </div>
      <div class="item winning">
        <h3>得獎經驗</h3>
        <ul>
          <li>百變史奴比全國設計大賽 服裝設計組 _ 佳作</li>
          <li>創造力發明培訓競賽 _ 第三名</li>
          <li>第45屆全國技能競賽 中區分區競賽 _金銀珠寶細工 _ 第三名</li>
        </ul>
      </div>
    </article>
  </section>
</div>
