@import "../../../assets/scss/common.scss";

.open-animation {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    transition: .5s;
    @extend %flex;
    flex-wrap: wrap;

    &>.loading-content {
        display: inline-block;

        &>svg {
            width: 25em;  /* 400px */
            height: 25em; /* 400px */

            &>path {
                stroke: $color1;
                stroke-dasharray: 125em; /* 2000px */
                stroke-dashoffset: 125em; /* 2000px */
                animation: draw-line 2.5s linear forwards;
                transition: .5s;
            }
        }
    }

    @keyframes draw-line {
        to {
            stroke-dashoffset: 0;
        }
    }

    .loading-text {
        text-align: left;
        color: #000000;
        font-size: 4.375em; /* 70px */
        // animation: flashing 2s linear forwards;
        transition: .5s;
        position: relative;
    }
}

.display {
    opacity: 0;
    z-index: -1;
}


#home {
    .introduce {
        @extend %flex;
        // position: relative;

        &>.introduce-left {
            width: 40%;
        }

        &>.introduce-right {
            width: 60%;
            // @extend %flex;
            display: flex;
            flex-direction: column;
            gap: 9.375em 6.25em; /* 150px 100px */

            &>.title {
                background-color: $color1;
                display: inline-block;
                padding: 1.25em 1.5625em; /* 20px 25px */
                border-radius: 10px;
                color: #fff;
                letter-spacing: 5px;
                line-height: 1.5;
                max-width: 1000px;
            }

            .sub-title {
                text-align: center;
                line-height: 1.2;

                &>div {
                    margin-left: 5em; /* 80px */

                    h3 {
                        text-align: left;
                        letter-spacing: 5px;
                    }
                }
            }

            .content {
                text-align: center;

                &>div {
                    margin-left: 3.125em; /* 50px */

                    p {
                        text-align: left;
                        font-size: 1.5em; /* 24px */
                        font-weight: bold;
                        letter-spacing: 2px;
                        line-height: 1.5;
                    }


                }
            }
        }
    }

    .author {
        display: flex;

        .author-pic {
            width: 50%;

            .pic {
                padding: 2.5em; /* 40px */

                img {
                    border-radius: 5px;
                }
            }
        }

        .author-text {
            width: 50%;
            @extend %flex;

            p {
                font-size: 1.125em; /* 18px */
                color: #7A7A7A;
                font-weight: bold;
                letter-spacing: 2px;
                line-height: 2;
            }
        }
    }


    .pet {
        .pet-pic {
            display: flex;
            align-items: end;
            justify-content: space-evenly;

            .pet-text {
                margin-bottom: 0.625em; /* 10px */

                p {
                    font-size: 1.125em; /* 18px */
                    color: #7A7A7A;
                    font-weight: bold;
                    letter-spacing: 2px;
                    line-height: 2;
                }
            }

            .pic {
                width: 45%;
            }
        }
    }
}
