@import "../../../assets/scss/common.scss";
#concat {
  height: 80vh;
  @extend %flex;

  @include tablet {
    padding-top: 50px;
    height: 100%;
  }


  .title {
    // margin-top: 6.125em; // 50px
    margin-bottom: 1.875em;
    position: relative;
    h1 {
      // font-size: 4.375em; // 70px
      font-size: 2em;
      font-weight: 500;
      color: $color3;
      margin-left: 15px;

      &::before {
        content: "";
        width: 0.3em;
        height: 0.95em;
        background-color: $color1;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  .input-area {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-wrap: wrap;
    }

    form {
      width: 45%;

      @include tablet {
        width: 100%;
      }

      div {
        margin-bottom: 0.625em; // 10px

        label {
          font-weight: bold;
          color: $color3;
          display: block;
          margin-bottom: 0.3125em; // 5px
        }

        input {
          width: 100%;
          border: 1px solid $color3;
          border-radius: 0.3125em; // 5px
          height: 2.5em; // 40px
        }

        textarea {
          width: 100%;
          border-radius: 0.3125em; // 5px
        }

        button {
          @extend %button;
        }
      }
    }
    .text-box {
      width: 45%;

      @include tablet {
        width: 100%;
      }
      color: $color3;
      .text {
        line-height: 1.2;
        letter-spacing: 0.0625em; // 1px
        font-size: 1.25em; // 20px
        margin-bottom: 1.25em; // 20px
        p {
          line-height: 150%;
        }
      }
      .contat {
        ul {
          li {
            font-size: 1.5em; // 24px
            margin-bottom: 0.625em; // 10px
          }
        }
      }
    }
  }

  .light-box {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    @extend %flex;

    .content-box {
      width: 18.75em; // 300px
      background-color: #fff;
      border-radius: 0.3125em; // 5px
      .text-title {
        padding: 1.25em 0.9375em; // 20px 15px
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color2;

        h4 {
          color: #fff;
        }

        .close {
          cursor: pointer;
        }
      }
      .text {
        font-size: 1.125em; // 18px
        text-align: center;
        line-height: 7.5em; // 120px
        margin-bottom: 0.625em; // 10px
        height: 6.25em; // 100px
      }
      .btn {
        padding: 1.25em 0.625em; // 20px 10px
        text-align: center;
        button {
          @extend %button;
          background-color: $color2;
        }
      }
    }
  }
}
