/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/reset.scss";
@import "./assets/scss/common.scss";
@import "./assets/scss/color.scss";
@import "./assets/scss/swiper.scss";

// @font-face {
//   font-family: Noto Sans TC;
//   src: url("./assets/font/NotoSansTC-VariableFont_wght.ttf")
// }
@font-face {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf)
      format("opentype");
  font-display: swap;
}

* {
  text-decoration: none;
  font-family: Noto Sans TC;
}

body {
  background-color: #ffffff;
}

.bold {
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 1em;
  @include mobile {
    font-size: 0.8em;
  }
}

section {
  width: 90%;
  margin-bottom: 6.25em; /* 100px */
  max-width: 70em; /* 1600px */
  margin: auto;
}

section.banner {
  width: 100%;
  max-width: 200em;
  border: none;
  margin-bottom: 6.25em; /* 100px */
  padding: 0;
}

.line {
  border-bottom: 2px gray dashed;
  margin: 4em auto; /* 80px */
  width: 80%;
}

.point {
  color: rgb(179, 108, 68);
}

.main-title {
  margin-bottom: 1.875em;
  position: relative;
  // padding-left: 10px;
  h1,
  h2 {
    // font-size: 4.375em; // 70px
    font-size: 2em;
    font-weight: 500;
    color: $color3;
    margin-left: 15px;

    &::before {
      content: "";
      width: 0.3em;
      height: 0.95em;
      background-color: $color1;
      position: absolute;
      left: 0px;
      bottom: 0;
    }
  }
}

// .swiper-pagination-bullet{
//   display: inline-block;
//   width: 10px;
//   height: 10px;
//   background-color: red;
//   margin: 0 10px;
// }
