/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/reset.scss";
@import "./assets/scss/common.scss";
@import "./assets/scss/color.scss";

* {
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
}

.bold {
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {}

h2 {
    font-size: 2.375em; /* 38px */
    font-weight: bold;
}

h3 {
    font-size: 2.0625em; /* 33px */
    font-weight: bold;
}

h4 {
    font-size: 1.125em; /* 18px */
    font-weight: bold;
}

section {
    width: 90%;
    margin-bottom: 6.25em; /* 100px */
    max-width: 70em; /* 1600px */
    margin: auto;
}

section.banner {
    width: 100%;
    max-width: 200em;
    border: none;
    margin-bottom: 6.25em; /* 100px */
    padding: 0;
}

.line {
    border-bottom: 2px gray dashed;
    margin: 4em auto; /* 80px */
    width: 80%;
}
